@font-face {
    font-family: Banner;
    src: url('/fonts/bpg-banner-caps-webfont.ttf') format('truetype');
}

@font-face {
    font-family: Valera;
    src: url('/fonts/w8gdH283Tvk__Lua32TysjIfp8uP.ttf') format('truetype');
}

@font-face {
    font-family: Mouldy;
    src: url('/fonts/MouldyCheeseRegular-WyMWG.ttf') format('truetype');
}

@font-face {
    font-family: Oswald;
    src: url('/fonts/Oswald-VariableFont_wght.ttf') format('truetype');
}