// PresentView.scss
#verses {
    padding-right: 50px;
    padding-left: 50px;
}

.verse {
    color: #fff;
    border-radius: 8px;
}

.verse-text {
    font-size: 24px;
    margin-bottom: 5px;
}

.verse-reference {
    font-size: 24px;
    color: #ccc;
}
