html {
    scroll-behavior: smooth;
}

#verses {
    padding-right: 50px;
    padding-left: 50px;
    scroll-behavior: smooth;
    font-size: 24px;
}

.verse {
    border-radius: 8px;
}

.verse-text {
    margin-bottom: 5px;
}
