$select-bg: #374151;
$select-color: #fff;
$select-border: 1px solid #555;
$select-focus-outline: 2px solid #007bff;
$select-padding: 0.5rem;

#searchPanel {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px;
  background-color: #1f2937;
  border-radius: 10px;

  select {
    appearance: none;
    background-color: $select-bg;
    border: $select-border;
    color: $select-color;
    padding: $select-padding;
    font-size: 1rem;
    line-height: 1.5;
    cursor: pointer;
    outline: none;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border-radius: 5px;

    &:hover,
    &:focus {
      border-color: #007bff;
    }

    &:focus {
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }

    &#chapters,
    &#verses,
    &#till {
      width: 60px;
    }

    option {
      background-color: $select-bg;
      color: $select-color;
      padding: 0.5rem;
      margin: 2px;
      border-radius: 5px;
      cursor: pointer;

      &:hover,
      &:focus {
        background-color: darken($select-bg, 10%);
      }
    }
  }

  input {
    background-color: $select-bg;
    border: $select-border;
    color: $select-color;
    padding: $select-padding;
    font-size: 1rem;
    line-height: 1.5;
    cursor: text;
    outline: none;
    border-radius: 5px;

    &:hover,
    &:focus {
      border-color: #007bff;
    }

    &:focus {
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }
  }

  #clearButton {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #dc3545;

    &:hover {
      background-color: #c82333;
      box-shadow: 0 4px 8px rgba(25, 48, 182, 0.5);
    }
  }

  .whole-bible-toggle {
    margin-top: 1rem;
    display: flex;
    justify-content: center;

    .wholeBibleLabel {
      display: inline-flex;
      align-items: center;
      cursor: pointer;
      font-size: 0.8rem;
      font-weight: 500;
      color: white;
      gap: 0.5rem;
      position: relative;

      input {
        display: none;
      }

      .slider {
        width: 40px;
        height: 20px;
        background-color: #ccc;
        border-radius: 20px;
        position: relative;
        transition: 0.4s;

        &::before {
          content: "";
          position: absolute;
          height: 16px;
          width: 16px;
          border-radius: 50%;
          background-color: white;
          left: 2px;
          top: 2px;
          transition: 0.4s;
        }
      }

      input:checked + .slider {
        background-color: #4caf50;

        &::before {
          transform: translateX(20px);
        }
      }
    }
  }

  .loader {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 65px;
    z-index: 1000;
    aspect-ratio: 1;
    --g: radial-gradient(
        farthest-side,
        #0000 calc(95% - 3px),
        #fff calc(100% - 3px) 98%,
        #0000 101%
      )
      no-repeat;
    background: var(--g), var(--g), var(--g);
    background-size: 30px 30px;
    transform: translate(-50%, -50%);
    animation: l10 1.5s infinite;
  }

  .arrows {
    display: flex;
    align-items: center;

    .arrow {
      cursor: pointer;

      color: #edf8ff;
      width: 30px;
      height: 30px;
    }
  }

  .farmer-container {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 100px;
    height: 100px;
    text-align: center;
    cursor: pointer;

    .cloud {
      position: absolute;
      top: -40px;
      left: 50%;
      transform: translateX(-50%);
      background: #ffffff;
      border-radius: 50px;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      padding: 20px;
      width: 200px;

      &::after {
        content: "";
        position: absolute;
        bottom: -15px;
        left: 50%;
        transform: translateX(-50%);
        border-width: 10px;
        border-style: solid;
        border-color: #ffffff transparent transparent transparent;
      }

      .message {
        font-family: "Comic Sans MS", cursive;
        font-size: 14px;
        color: #333;
      }
    }

    .farmer {
      position: relative;
      margin-top: 90px;

      .hat {
        width: 80px;
        height: 20px;
        background: #8b4513;
        border-radius: 50% / 100% 100% 0 0;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
      }

      .body {
        width: 60px;
        height: 100px;
        background: #006400;
        position: absolute;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 0 0 10px 10px;
      }

      .legs {
        width: 10px;
        height: 60px;
        background: #8b4513;
        position: absolute;
        top: 120px;
        left: 50%;
        transform: translateX(-50%);
      }

      .arms {
        width: 20px;
        height: 70px;
        background: #8b4513;
        position: absolute;
        top: 40px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 10px;
      }

      .face {
        position: absolute;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        width: 40px;
        height: 40px;
        background: #ffdbac;
        border-radius: 50%;

        .eyes {
          position: absolute;
          top: 10px;
          left: 10px;
          width: 20px;
          height: 10px;
          background: #000;
          border-radius: 50%;
        }

        .mouth {
          position: absolute;
          top: 25px;
          left: 12px;
          width: 16px;
          height: 5px;
          background: #ff6347;
          border-radius: 50%;
        }
      }
    }
  }
}
