$select-bg: #374151;
$select-color: #fff;
$select-border: 1px solid #555;
$select-focus-outline: 2px solid #007bff;
$select-padding: 0.5rem;

#searchPanel {
    display: flex;
    gap: 10px;

    select {
  appearance: none;
  background-color: $select-bg;
  border: $select-border;
  color: $select-color;
  padding: $select-padding;
  font-size: 1rem;
  line-height: 1.5;
  cursor: pointer;
  outline: none;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  border-radius: 10px;

  &:hover,
  &:focus {
    border-color: #007bff;
  }

  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  option {
    padding: 10px;
    border-radius: 10px;
    background-color: $select-bg;
    color: $select-color;
    padding: $select-padding;
}
}

}
